* {
    font-family: var(--font-montserrat), sans-serif;
}

html {
    scroll-behavior: auto;
}

body {
    font-family: var(--font-montserrat), sans-serif;
    overflow-x: hidden;
}

.home-content {
    max-width: 1440px;
    margin: auto;
}

.home-content>* {
    max-width: 1440px;
    margin-left: auto;
    margin-right: auto;
}