@use "../../app/(website)/_variables.scss" as *;

.collectionListingProductWrapper {
    margin-bottom: 70px;

    .MuiContainer-root {
        max-width: 95%;
    }
}

.productBreadcrumbSearchWrapper {
    margin-bottom: 25px;

    .MuiBreadcrumbs-li {

        .MuiLink-root,
        .MuiTypography-root {
            font-size: 14px;
            color: #000000;
        }

    }

    .searchForm {
        position: relative;
        width: 305px;

        .MuiButtonBase-root {
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            min-width: auto;
            padding: 0;
            width: 52px;
            height: 48px;
            border-radius: 18px;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }
}

.sidebar {
    @include respond-to(xl) {
        flex: 1 1 calc(30% - 32px) !important;
    }

    @include respond-to(lg) {
        flex: 1 1 100% !important;
    }

    .sidebarContent {
        max-width: 330px;


        @include respond-to(minLg) {
            position: sticky;
            top: 100px;
        }

        @include respond-to(md) {
            max-width: 100%;
        }


        .sidebarTitle {
            font-size: 16px;
            font-weight: 700;
            color: #000000;
            margin-bottom: 35px;
            display: flex;
            align-items: center;
            gap: 10px;
            padding-bottom: 5px;
            border-bottom: 1px solid #B2AFAF;
            position: relative;
            justify-content: space-between;

            &::before {
                content: "";
                position: absolute;
                bottom: -2px;
                left: 0;
                width: 60%;
                border-top: 4px solid #7FAF0D;
            }

            span {
                position: relative;
                top: 2px;

                @include respond-to(minLg) {
                    display: none !important;
                }

                svg {
                    fill: #7FAF0D;
                }
            }
        }

        .siderBarListHolder {
            @include respond-to(lg) {
                position: fixed;
                top: 0;
                bottom: 0;
                left: 0;
                width: 100%;
                max-width: 400px;
                padding: 70px 30px;
                background: #fff;
                box-shadow: 0 0 20px rgba(0, 0, 0, 0.17);
                z-index: 1000;
                transform: translateX(-100%);
                overflow-y: auto;
                transition: all 0.4s ease-in-out;
            }

            .closeButton {
                @include respond-to(minLg) {
                    display: none;
                }

                position: absolute;
                top: 15px;
                right: 15px;

                svg {
                    fill: #7FAF0D;
                }
            }
        }

        .widget {
            background-color: #F7F5E7;
            padding: 15px 20px;
            border-radius: 15px;
            margin-bottom: 35px;

            &:last-child {
                margin-bottom: 0;
            }

            .widgetTitle {
                font-size: 16px;
                font-weight: 700;
                color: #000000;
                margin-bottom: 12px;
            }

            .bottomIcon {
                text-align: center;
                margin-top: 15px;
            }

            .MuiFormGroup-root {
                .MuiSvgIcon-root {
                    width: 25px;
                    height: 25px;
                }

                .MuiTypography-root {
                    font-size: 14px;
                    font-weight: 400;
                }
            }
        }

        .categoryWidget {
            .widgetContent {
                .categoryItem {
                    .categoryItemTitle {
                        font-size: 14px;
                        font-weight: 700;
                        color: #000000;
                        margin-bottom: 0;
                        cursor: pointer;
                    }

                    .categoryItemList {
                        padding-left: 10px;

                        .MuiListItem-root {
                            padding: 0 0 0 10px;
                            position: relative;

                            &::before {
                                content: "";
                                position: absolute;
                                top: 11px;
                                left: 0;
                                width: 5px;
                                height: 5px;
                                border-radius: 50%;
                                background-color: #000000;
                            }

                            .MuiListItemText-root {
                                font-size: 14px;
                                line-height: 1.3;
                                font-weight: 4 00;
                                color: #000000;
                                margin-bottom: 0;
                            }
                        }
                    }
                }
            }
        }

        .nearMeWidget {
            padding-top: 15px;
            border-top: 1px solid #B2AFAF;
            margin-top: 15px;

            .widgetContent {
                .useMyLocationButton {
                    .MuiTouchRipple-root {
                        display: none;
                    }
                }
            }
        }

        .priceRangeWidget {
            .priceRangeWidgetContentInner {
                .priceRangeRadioGroup {
                    width: 100%;

                    .MuiFormControlLabel-label {
                        flex-grow: 1;

                        .priceRangeProgress {
                            width: 100px;

                            .MuiLinearProgress-root {
                                height: 28px;
                                border-radius: 8px;
                                background-color: #d8d7d7;
                            }
                        }
                    }
                }
            }
        }

    }

    &.sidebarToggled {
        .siderBarListHolder {
            transform: translateX(0);
        }
    }
}

.mainContent {
    @include respond-to(xl) {
        flex: 1 1 calc(70% - 32px) !important;
    }

    @include respond-to(lg) {
        flex: 1 1 100% !important;
        margin-left: 0 !important;
    }

    .categoryLoopListing {
        margin-bottom: 50px;

        &:last-child {
            margin-bottom: 0;
        }
    }

    .productTitleOuter {

        margin-bottom: 35px;
        display: flex;
        align-items: center;
        gap: 10px 40px;
        padding-bottom: 5px;
        border-bottom: 1px solid #B2AFAF;
        position: relative;

        &::before {
            content: "";
            position: absolute;
            bottom: -2px;
            left: 0;
            width: 16%;
            border-top: 4px solid #7FAF0D;
        }

        h2 {
            font-size: 16px;
            font-weight: 700;
            color: #000000;
            margin: 0;
        }

        h3 {
            font-size: 16px;
            font-weight: 700;
            color: #848282;
            margin: 0;
        }
    }

    .productFeaturedBox {
        margin-bottom: 35px;
        align-items: flex-start;

        .productFeaturedBoxLeft {
            aspect-ratio: 657/408;
            border-radius: 15px;
            overflow: hidden;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }

        .productFeaturedBoxRight {
            .productFeaturedBoxRightContent {
                background-color: #054934;
                padding: 40px;
                border-radius: 15px;

                @include respond-to(md) {
                    padding: 20px;
                }

                h3 {
                    font-size: 16px;
                    font-weight: 700;
                    color: #ffffff;
                    margin-bottom: 5px;
                }

                .productFeaturedBoxRightContentList {
                    .MuiList-root {
                        padding-left: 0;

                        .MuiListItem-root {
                            padding: 0 0 0 10px;
                            position: relative;

                            &::before {
                                content: "";
                                position: absolute;
                                top: 11px;
                                left: 0;
                                width: 5px;
                                height: 5px;
                                border-radius: 50%;
                                background-color: #ffffff;
                            }

                            .MuiListItemText-root {

                                margin-bottom: 0;

                                span {
                                    font-size: 14px;
                                    line-height: 1.3;
                                    font-weight: 400;
                                    color: #ffffff;
                                }
                            }
                        }
                    }
                }

                .productFeaturedBoxRightContentButton {
                    padding-top: 20px;
                    margin-top: 20px;
                    border-top: 1px solid #ffffff;
                }
            }
        }
    }

    .productListingSliderOuter {
        .swiper {
            padding-bottom: 40px;
        }

        .swiper-slide {
            transition: all 0.3s ease-in-out;

            // &:not(.swiper-slide-active) {
            //     // width: 228px !important;
            //     transform: scale(0.7);
            //     transform-origin: top left;

            // }
            &.swiper-slide-active {

                .productListingSliderBox {

                    border-color: #008ECC;
                    box-shadow:
                        0px 6px 13px 0px #0000000D,
                        0px 24px 24px 0px #0000000A,
                        0px 54px 33px 0px #00000008,
                        0px 97px 39px 0px #00000003,
                        0px 151px 42px 0px #00000000;
                }
            }
        }

        .productListingSliderBox {
            border: 1px solid #EDEDED;
            border-radius: 16px;
            overflow: hidden;
            position: relative;
            background-color: #F5F5F5;
            transition: all 0.3s ease-in-out;
            cursor: pointer;

            &:hover {
                border-color: #008ECC;
                box-shadow:
                    0px 6px 13px 0px #0000000D,
                    0px 24px 24px 0px #0000000A,
                    0px 54px 33px 0px #00000008,
                    0px 97px 39px 0px #00000003,
                    0px 151px 42px 0px #00000000;
            }

            .productListingSliderBoxImage {
                aspect-ratio: 16/9;
                transition: all 0.3s ease-in-out;
                position: relative;

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }

                .discountBadge {
                    position: absolute;
                    top: 0;
                    right: 0;
                    width: 55px;
                    height: 60px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    text-align: center;
                    background-color: $colorSecondary;
                    border-radius: 0 16px 0 16px;
                    z-index: 1;

                    @include respond-to(xxl) {
                        width: 55px;
                        height: 55px;
                    }

                    p {
                        color: $colorWhite;
                        font-weight: 600;
                        font-size: 12px;
                        margin: 0;

                        span {
                            display: block;
                        }
                    }
                }
            }

            .productListingSliderContent {
                padding: 15px;
                background: #fff;

                h3 {
                    font-size: 16px;
                    font-weight: 600;
                    color: #222222;
                    padding-bottom: 10px;
                    border-bottom: 1px solid #EDEDED;
                }

                .MuiList-root {
                    padding-left: 0;

                    .MuiListItem-root {
                        padding: 0 0 0 10px;
                        position: relative;

                        &::before {
                            content: "";
                            position: absolute;
                            top: 10px;
                            left: 0;
                            width: 5px;
                            height: 5px;
                            border-radius: 50%;
                            background-color: #000000;
                        }

                        .MuiListItemText-root {

                            margin-bottom: 0;

                            span {
                                font-size: 14px;
                                line-height: 1.3;
                                font-weight: 400;
                                color: #000000;
                            }
                        }
                    }
                }

                .productListingSliderContentButton {
                    margin-top: 15px;

                    .MuiButtonBase-root {
                        min-width: auto;
                        height: 40px;
                        min-height: auto;
                        padding: 0 20px;
                        font-size: 14px;
                        font-weight: 600;
                    }
                }
            }
        }
    }

    .childCategorySliderOuter {
        background-color: #DBDBDB;
        padding: 40px 25px;
        border-radius: 15px;

        .childCategorySliderBoxImage {
            background-color: #F5F5F5;
            height: 120px;
            border-radius: 15px;
            position: relative;
            overflow: hidden;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                object-position: center;
            }
        }
    }
}

.paginationOuter {
    .MuiPagination-ul {
        justify-content: center;
    }
}

.learnMoreOuter {
    margin: 60px 0;

    @include respond-to(md) {
        margin: 40px 0;
    }

    h2 {
        color: #000;
        margin: 0;
        font-size: 26px;
        font-weight: 700;
        margin-bottom: 25px;
    }

    .learnMoreContent {
        margin-bottom: 35px;

        p {
            font-size: 14px;
            display: -webkit-box;
            overflow: hidden;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 2;

            &.readMoreOpen {
                -webkit-line-clamp: unset;
            }
        }
    }

    .learnMoreButton {
        text-align: right;

        button {
            color: #7FAF0D;
            background-color: transparent;
            padding: 0;
            min-width: auto;
            height: auto;

            .MuiTouchRipple-root {
                display: none;
            }
        }
    }
}

.relatedKeyWordsOuter {
    h2 {
        color: #000;
        margin: 0;
        font-size: 26px;
        font-weight: 700;
        margin-bottom: 25px;
    }

    .relatedKeyWordsContent {
        margin-bottom: 35px;
        max-height: 90px;
        overflow: hidden;

        .relatedKeyWordsContentList {
            display: flex;
            flex-wrap: wrap;
            gap: 12px;

            .MuiButton-root {
                padding: 0 15px;
                height: 35px;
                min-height: auto;
                font-size: 13px;
                font-weight: 500;
                border-radius: 30px;
                min-width: auto;
            }
        }

        &.readMoreOpenKeywords {
            max-height: 2000px;
        }
    }

    .learnMoreButton {
        text-align: right;

        button {
            color: #7FAF0D;
            background-color: transparent;
            padding: 0;
            min-width: auto;
            height: auto;

            .MuiTouchRipple-root {
                display: none;
            }
        }
    }
}

.startRequestOuter {
    margin: 60px 0;

    @include respond-to(md) {
        margin: 40px 0;
    }


    .startRequestBoxLeft {
        height: 280px;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center;
        }
    }

    .startRequestBoxRight {
        h3 {
            font-size: 30px;
            font-weight: 700;
            color: #000;
            margin-bottom: 15px;

            @include respond-to(md) {
                font-size: 22px;
            }
        }

        .MuiList-root {
            margin-bottom: 25px;

            .MuiListItem-root {
                padding: 0;
                margin-bottom: 5px;

                &:last-child {
                    margin-bottom: 0;
                }
            }
        }
    }
}

.childCategoryLisitngRow {
    .childCategoryLisitngCol {
        .lisitngCard {
            border: 1px solid #EDEDED;
            border-radius: 16px;
            overflow: hidden;
            position: relative;
            background-color: #F5F5F5;
            transition: all 0.3s ease-in-out;


            &:hover {
                border-color: #008ECC;
                box-shadow:
                    0px 6px 13px 0px #0000000D,
                    0px 24px 24px 0px #0000000A,
                    0px 54px 33px 0px #00000008,
                    0px 97px 39px 0px #00000003,
                    0px 151px 42px 0px #00000000;
            }

            .lisitngCardImage {
                height: 200px;
                transition: all 0.3s ease-in-out;
                position: relative;
                text-align: center;
                padding: 15px;

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: contain;
                }
            }

            .lisitngCardContent {
                padding: 20px;
                background: #054934;

                h3 {
                    font-size: 16px;
                    font-weight: 700;
                    color: #ffffff;
                }

                .MuiList-root {
                    padding-left: 0;

                    .MuiListItem-root {
                        padding: 0 0 0 15px;
                        position: relative;

                        &::before {
                            content: "";
                            position: absolute;
                            top: 9px;
                            left: 0;
                            width: 5px;
                            height: 5px;
                            border-radius: 50%;
                            background-color: #ffffff;
                        }

                        .MuiListItemText-root {

                            margin-bottom: 0;

                            span {
                                font-size: 13px;
                                line-height: 1.3;
                                font-weight: 400;
                                color: #ffffff;
                            }
                        }
                    }
                }

                .actionBtn {
                    margin-top: 15px;
                    padding-top: 15px;
                    border-top: 1px solid #ffffff;

                    .MuiButtonBase-root {
                        min-width: auto;
                        height: 35px;
                        min-height: auto;
                        padding: 0 20px;
                        font-size: 13px;
                        font-weight: 700;
                    }
                }
            }
        }
    }
}

.supplierLinks {
    .MuiButtonBase-root {
        padding: 0;
        min-width: auto;
        height: auto;

        .MuiTouchRipple-root {
            display: none;
        }
    }
}

.supplierRatingButtons {
    .MuiButtonBase-root {
        flex-direction: column;
        gap: 5px;
        font-size: 14px;
        font-weight: 600;

        &:hover {
            background-color: transparent;
        }

        .MuiTouchRipple-root {
            display: none;
        }
    }
}

.singleProductFeaturedSliderOuter {
    background-color: #F5F5F5;
    position: relative;
    overflow: hidden;
    min-height: 515px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
    padding: 35px;

    @include respond-to(md) {
        padding: 20px;
    }

    .singleProductFeaturedMainSlider {
        width: 100%;
        text-align: center;

        .singleProductFeatureImage {
            height: 300px;
            display: flex;
            align-items: center;
            justify-content: center;

            img {
                object-fit: contain;
            }
        }
    }

    .singleProductFeaturedThumbnailSlider {
        width: 100%;
        margin-top: 35px;

        .singleProductFeatureThumbnailImage {
            height: 100px;
            background-color: #fff;
            border: 1px solid #EDEDED;
            padding: 10px;
            border-radius: 10px;
            cursor: pointer;
            opacity: .5;
            transition: all 0.3s ease-in-out;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }

        .swiper-slide-thumb-active {

            .singleProductFeatureThumbnailImage {
                opacity: 1;
                border-color: #7FAF0D;
            }
        }

    }

    .swiper-button-next,
    .swiper-button-prev {
        color: #7faf0d;
        width: 25px;
        height: 25px;

        @include respond-to(md) {
            top: auto;
            bottom: 0;
            transform: none;
            margin: 0;
        }
    }


}

.singleProductFeatureColRight {
    .productFeaturedBoxRightContent {
        background-color: #054934;
        padding: 40px;
        border-radius: 15px;
        height: 100%;
        display: flex;
        flex-direction: column;

        @include respond-to(md) {
            padding: 20px;
        }

        h3 {
            font-size: 16px;
            font-weight: 700;
            color: #ffffff;
            margin-bottom: 5px;
        }

        .productFeaturedBoxRightContentList {
            .MuiList-root {
                padding-left: 0;

                .MuiListItem-root {
                    padding: 0 0 0 10px;
                    position: relative;

                    &::before {
                        content: "";
                        position: absolute;
                        top: 11px;
                        left: 0;
                        width: 5px;
                        height: 5px;
                        border-radius: 50%;
                        background-color: #ffffff;
                    }

                    .MuiListItemText-root {

                        margin-bottom: 0;

                        span {
                            font-size: 14px;
                            line-height: 1.3;
                            font-weight: 400;
                            color: #ffffff;
                        }
                    }
                }
            }
        }

        .productFeaturedBoxRightContentButton {
            padding-top: 20px;
            margin-top: auto;
            border-top: 1px solid #ffffff;
        }
    }
}

.MuiList-root {
    &.defaultUl {
        padding-left: 0;

        .MuiListItem-root {
            padding: 0 0 0 10px;
            position: relative;

            &::before {
                content: "";
                position: absolute;
                top: 9px;
                left: 0;
                width: 4px;
                height: 4px;
                border-radius: 50%;
                background-color: #000000;
            }

            .MuiListItemText-root {

                margin-bottom: 0;

                span {
                    font-size: 14px;
                    line-height: 1.3;
                    font-weight: 400;
                    color: #000000;
                }
            }
        }
    }
}

.productShortInfoBox {
    background-color: #F5F5F5;
    padding: 40px 50px;
    border-radius: 15px;
    margin-bottom: 30px;

    @include respond-to(md) {
        padding: 20px;
    }

    h3 {
        font-size: 16px;
        font-weight: 700;
        color: #000000;
        margin-bottom: 10px;
    }

    .MuiList-root {
        &.defaultUl {
            .MuiListItem-root {

                &::before {
                    content: "";
                    position: absolute;
                    top: 9px;
                    left: 0;
                    width: 4px;
                    height: 4px;
                    border-radius: 50%;
                    background-color: #000000;
                }

                .MuiListItemText-root {

                    span {
                        font-size: 13px;
                    }
                }
            }
        }
    }
}

.productKeywordsBox {
    background-color: #054934;
    padding: 15px 45px;
    border-radius: 15px;

    @include respond-to(md) {
        padding: 15px;
    }

    .MuiStack-root {
        flex-wrap: wrap;
    }


    h3 {
        font-size: 16px;
        font-weight: 700;
        color: #ffffff;
        margin-bottom: 0;
        margin-top: 3px !important;

        @include respond-to(md) {
            width: 100%;
            margin-bottom: 15px !important;
        }
    }

    .relatedKeyWordsContentList {
        display: flex;
        flex-wrap: wrap;
        gap: 6px;

        @include respond-to(md) {
            width: 100%;
            margin-left: 0;
        }

        .MuiButton-root {
            padding: 0 15px;
            height: 30px;
            min-height: auto;
            font-size: 12px;
            font-weight: 400;
            border-radius: 12px;
            min-width: auto;
            border-color: #ffffff;
            color: #ffffff;
            border-width: 1px;

            &:hover {
                border-color: #ffffff;
                color: #ffffff;
            }
        }
    }
}

.productResultsOuter {
    margin-top: 50px;

    .searchHeader {
        margin-bottom: 30px;

        @include respond-to(md) {
            flex-direction: column;
            align-items: flex-start;
            gap: 15px;
        }

        h3 {
            font-size: 16px;
            font-weight: 700;
            color: #000000;
            margin-bottom: 0;
        }

        .searchForm {
            position: relative;
            width: 305px;

            @include respond-to(md) {
                width: 100%;
                margin-left: 0;
            }

            .MuiButtonBase-root {
                position: absolute;
                top: 0;
                right: 0;
                bottom: 0;
                min-width: auto;
                padding: 0;
                width: 52px;
                height: 48px;
                border-radius: 18px;
                display: flex;
                align-items: center;
                justify-content: center;
            }
        }
    }
}

.aboutSupplierOuter {
    margin-top: 35px;
    background: #fff;
    box-shadow: 0 6px 13px rgba(0, 0, 0, 0.15);
    padding: 20px;
    border-radius: 15px;

    h3 {
        font-size: 16px;
        font-weight: 700;
        color: #000000;
        margin-bottom: 20px;
    }

    p {
        font-size: 13px;
    }

    .aboutSupplierProductGallery {
        margin-bottom: 30px;

        .imageBox {
            max-width: 150px;
        }
    }
}

.trendingProductsOuter {
    background-color: #f5f5f5;
    padding: 20px 0 10px;

    @include respond-to(md) {
        padding-bottom: 0;
    }

    h2 {
        font-size: 17px;
        font-weight: 700;
        margin-bottom: -30px;

        @include respond-to(md) {
            margin-bottom: 0;
        }
    }

    .sliderNavigation {
        z-index: 2;
        position: absolute;
        left: 0;
        right: 0;
        top: 50%;
        transform: translateY(-50%);

        @include respond-to(md) {
            top: auto;
            bottom: 36px;
            transform: none;
        }

        .swiper-button-next,
        .swiper-button-prev {
            color: #7faf0d;
            width: 25px;
            height: 25px;
        }
    }

    .trendingProductsSliderOuter {
        padding: 0 40px 25px;
        position: relative;

        @include respond-to(md) {
            padding: 0 0 25px;
        }

        .swiper {
            padding: 40px 0 0;

            @include respond-to(md) {
                padding: 30px 0 30px;
            }

            .swiper-pagination {
                top: 0;
                bottom: auto;

                @include respond-to(md) {
                    top: auto;
                    bottom: -20px;
                    position: relative;
                }

                .swiper-pagination-bullet-active {
                    background: #7FAF0D;
                }
            }
        }
    }

    .trendingProductBox {
        background-color: #fff;
        padding: 10px;
        border-radius: 8px;
        box-shadow: 0px 6px 13px 0px #0000000D;

        .trendingProductImage {
            width: 120px;
            min-width: 120px;
            height: 110px;
            border: 1px solid #e6e8e7;
            border-radius: 6px;
            padding: 10px;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }

        .trendingProductContent {
            a {
                font-size: 14px;
                font-weight: 600;
                color: #054934;
                margin-bottom: 5px;
                display: -webkit-box;
                overflow: hidden;
                -webkit-box-orient: vertical;
                -webkit-line-clamp: 1;
                text-decoration: none;


                &:hover {
                    color: #7FAF0D;
                }
            }
        }

        p {
            font-size: 12px;
            display: -webkit-box;
            overflow: hidden;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 3;
            text-decoration: none;
        }

        .leftData {
            .MuiButtonBase-root {
                padding: 0;
                min-width: auto;
                height: auto;

                .MuiTouchRipple-root {
                    display: none;
                }
            }
        }

        .rightData {
            position: relative;
            top: 3px;
        }
    }
}

.similarProductsSwiper {
    padding-bottom: 10px;

    .similarProductSliderCardOuter {
        .similarProductBox {
            background-color: #fff;
            padding: 10px;
            border-radius: 8px;
            box-shadow: 0px 6px 13px 0px #0000000D;
            margin-bottom: 10px;

            .similarProductImage {
                width: 90px;
                min-width: 90px;
                height: 90px;
                border: 1px solid #e6e8e7;
                border-radius: 6px;
                padding: 10px;

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }

            .similarProductContent {
                a {
                    font-size: 12px;
                    line-height: 1.2;
                    display: block;
                    font-weight: 600;
                    color: #7FAF0D;
                    margin-bottom: 5px;
                    text-decoration: none;

                    &:hover {
                        color: #054934;
                    }
                }

                p {
                    font-size: 12px;
                    display: -webkit-box;
                    overflow: hidden;
                    -webkit-box-orient: vertical;
                    -webkit-line-clamp: 2;
                    text-decoration: none;
                    margin-bottom: 5px;
                }

                .MuiStack-root {
                    justify-content: flex-start !important;

                    p {
                        margin-bottom: 0;
                    }
                }
            }
        }
    }

    .swiper-pagination {
        position: relative;
        top: 10px;
        bottom: auto;
        width: fit-content;
        margin: 0 auto;

        .swiper-pagination-bullet-active {
            background: #7FAF0D;
        }
    }

    .swiper-button-next,
    .swiper-button-prev {
        color: #7faf0d;
        width: 25px;
        height: 25px;
        top: auto;
        bottom: 0;
    }
}

.MuiPopover-root {
    .MuiPopover-paper {
        border-radius: 10px;
        box-shadow: 0 0 15px rgba(0, 0, 0, 0.14) !important;
    }
}