@use "../../app/(website)/_variables.scss" as *;

.collectionListingProductWrapper {
    .MuiContainer-root {
        max-width: 95%;
    }
}

.productBreadcrumbSearchWrapper {
    margin-bottom: 25px;

    .MuiBreadcrumbs-li {

        .MuiLink-root,
        .MuiTypography-root {
            font-size: 14px;
            color: #000000;
        }

    }

    .searchForm {
        position: relative;
        width: 305px;

        .MuiButtonBase-root {
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            min-width: auto;
            padding: 0;
            width: 52px;
            height: 48px;
            border-radius: 18px;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }
}

.sidebar {


    .sidebarContent {
        max-width: 300px;

        @include respond-to(minLg) {
            position: sticky;
            top: 100px;
        }


        .sidebarTitle {
            font-size: 16px;
            font-weight: 700;
            color: #000000;
            margin-bottom: 35px;
            display: flex;
            align-items: center;
            gap: 10px;
            padding-bottom: 5px;
            border-bottom: 1px solid #B2AFAF;
            position: relative;

            &::before {
                content: "";
                position: absolute;
                bottom: -2px;
                left: 0;
                width: 60%;
                border-top: 4px solid #7FAF0D;
            }

            span {
                position: relative;
                top: 2px;

                @include respond-to(minLg) {
                    display: none !important;
                }
            }
        }

        .siderBarListHolder {
            @include respond-to(lg) {
                position: fixed;
                top: 0;
                bottom: 0;
                left: 0;
                width: 100%;
                max-width: 400px;
                padding: 70px 30px;
                background: #FBE8D0;
                z-index: 1000;
                transform: translateX(-100%);
                transition: all 0.4s ease-in-out;
            }

            .closeButton {
                @include respond-to(minLg) {
                    display: none;
                }

                position: absolute;
                top: 15px;
                right: 15px;
            }
        }

        .widget {
            background-color: #F7F5E7;
            padding: 15px 20px;
            border-radius: 15px;
            margin-bottom: 35px;

            &:last-child {
                margin-bottom: 0;
            }

            .widgetTitle {
                font-size: 16px;
                font-weight: 700;
                color: #000000;
                margin-bottom: 12px;
            }

            .bottomIcon {
                text-align: center;
                margin-top: 15px;
            }

            .MuiFormGroup-root {
                .MuiSvgIcon-root {
                    width: 25px;
                    height: 25px;
                }

                .MuiTypography-root {
                    font-size: 14px;
                    font-weight: 400;
                }
            }
        }

        .categoryWidget {
            .widgetContent {
                .categoryItem {
                    .categoryItemTitle {
                        font-size: 14px;
                        font-weight: 700;
                        color: #000000;
                        margin-bottom: 0;
                        cursor: pointer;
                    }

                    .categoryItemList {
                        padding-left: 10px;

                        .MuiListItem-root {
                            padding: 0 0 0 10px;
                            position: relative;

                            &::before {
                                content: "";
                                position: absolute;
                                top: 11px;
                                left: 0;
                                width: 5px;
                                height: 5px;
                                border-radius: 50%;
                                background-color: #000000;
                            }

                            .MuiListItemText-root {
                                font-size: 14px;
                                line-height: 1.3;
                                font-weight: 4 00;
                                color: #000000;
                                margin-bottom: 0;
                            }
                        }
                    }
                }
            }
        }

        .nearMeWidget {
            padding-top: 15px;
            border-top: 1px solid #B2AFAF;
            margin-top: 15px;

            .widgetContent {
                .useMyLocationButton {
                    .MuiTouchRipple-root {
                        display: none;
                    }
                }
            }
        }

        .priceRangeWidget {
            .priceRangeWidgetContentInner {
                .priceRangeRadioGroup {
                    width: 100%;

                    .MuiFormControlLabel-label {
                        flex-grow: 1;

                        .priceRangeProgress {
                            width: 100px;

                            .MuiLinearProgress-root {
                                height: 28px;
                                border-radius: 8px;
                                background-color: #d8d7d7;
                            }
                        }
                    }
                }
            }
        }

    }

    &.sidebarToggled {
        .siderBarListHolder {
            transform: translateX(0);
        }
    }
}

.mainContent {
    .categoryLoopListing {
        margin-bottom: 50px;

        &:last-child {
            margin-bottom: 0;
        }
    }

    .productTitleOuter {

        margin-bottom: 35px;
        display: flex;
        align-items: center;
        gap: 10px 40px;
        padding-bottom: 5px;
        border-bottom: 1px solid #B2AFAF;
        position: relative;

        &::before {
            content: "";
            position: absolute;
            bottom: -2px;
            left: 0;
            width: 16%;
            border-top: 4px solid #7FAF0D;
        }

        h2 {
            font-size: 16px;
            font-weight: 700;
            color: #000000;
            margin: 0;
        }

        h3 {
            font-size: 16px;
            font-weight: 700;
            color: #848282;
            margin: 0;
        }
    }

    .productFeaturedBox {
        margin-bottom: 35px;
        align-items: flex-start;

        .productFeaturedBoxLeft {
            aspect-ratio: 657/408;
            border-radius: 15px;
            overflow: hidden;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }

        .productFeaturedBoxRight {
            .productFeaturedBoxRightContent {
                background-color: #054934;
                padding: 40px;
                border-radius: 15px;

                h3 {
                    font-size: 16px;
                    font-weight: 700;
                    color: #ffffff;
                    margin-bottom: 5px;
                }

                .productFeaturedBoxRightContentList {
                    .MuiList-root {
                        padding-left: 0;

                        .MuiListItem-root {
                            padding: 0 0 0 10px;
                            position: relative;

                            &::before {
                                content: "";
                                position: absolute;
                                top: 11px;
                                left: 0;
                                width: 5px;
                                height: 5px;
                                border-radius: 50%;
                                background-color: #ffffff;
                            }

                            .MuiListItemText-root {

                                margin-bottom: 0;

                                span {
                                    font-size: 14px;
                                    line-height: 1.3;
                                    font-weight: 400;
                                    color: #ffffff;
                                }
                            }
                        }
                    }
                }

                .productFeaturedBoxRightContentButton {
                    padding-top: 20px;
                    margin-top: 20px;
                    border-top: 1px solid #ffffff;
                }
            }
        }
    }

    .productListingSliderOuter {
        .productListingSliderBox {
            border: 1px solid #EDEDED;
            border-radius: 16px;
            overflow: hidden;
            position: relative;
            background-color: #F5F5F5;
            transition: all 0.3s ease-in-out;
            cursor: pointer;

            &:hover {
                border-color: #008ECC;
                box-shadow:
                    0px 6px 13px 0px #0000000D,
                    0px 24px 24px 0px #0000000A,
                    0px 54px 33px 0px #00000008,
                    0px 97px 39px 0px #00000003,
                    0px 151px 42px 0px #00000000;
            }

            .productListingSliderBoxImage {
                aspect-ratio: 16/9;

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }

            .productListingSliderContent {
                padding: 15px;
                background: #fff;

                h3 {
                    font-size: 16px;
                    font-weight: 600;
                    color: #222222;
                }

                .MuiList-root {
                    padding-left: 0;

                    .MuiListItem-root {
                        padding: 0 0 0 10px;
                        position: relative;

                        &::before {
                            content: "";
                            position: absolute;
                            top: 10px;
                            left: 0;
                            width: 5px;
                            height: 5px;
                            border-radius: 50%;
                            background-color: #000000;
                        }

                        .MuiListItemText-root {

                            margin-bottom: 0;

                            span {
                                font-size: 14px;
                                line-height: 1.3;
                                font-weight: 400;
                                color: #000000;
                            }
                        }
                    }
                }
            }
        }
    }
}