* {
    font-family: var(--font-montserrat), sans-serif;
}

html {
    overflow-x: hidden;
}

body {
    font-family: var(--font-montserrat), sans-serif;
}

.home-content {
    max-width: 1440px;
    margin: auto;
}